<div class="login">
  <img src="assets/images/login-bg.jpg" alt="" />

  <div class="login-content">
    <div class="form-left">
      <h3 style="margin: 30px 0px;"><img src="assets/images/logo01.png" alt="" style="max-width: 60px;"></h3>
      <h3 style="">供应链金融服务平台</h3>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入用户账号!">
            <nz-input-group nzPrefixIcon="user" [nzSuffix]="usernameSuffixTemplate">
              <input type="text" nz-input formControlName="username" placeholder="用户名" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入密码!">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="pwdSuffixTemplate">
              <input type="password" nz-input formControlName="password" placeholder="密码" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" nzType="primary" [nzLoading]="isLoadingOne" [disabled]="!validateForm.valid">登录</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <img src="assets/images/login-form-right.png" class="form-right" alt="">
    <div style="clear:both">&nbsp;</div>
  </div>
</div>
<ng-template #usernameSuffixTemplate>
  <i
  nz-icon
  nz-tooltip
  class="ant-input-clear-icon"
  nzTheme="fill"
  nzType="close-circle"
  *ngIf="validateForm.value.username"
  (click)="clearUsername()">
  </i>
</ng-template>
<ng-template #pwdSuffixTemplate>
  <i
    nz-icon
    nz-tooltip
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="validateForm.value.password"
    (click)="clearPassword()">
  </i>
</ng-template>
